@import "rhythm";

.date {
  color: #bbb;
}

.body {
  iframe {
    width: calc(100vw - #{rhythm(4)});
    height: calc((9 / 16) * (100vw - #{rhythm(4)}));

    max-width: calc(700px - #{rhythm(4)});
    max-height: calc((9 / 16) * (700px - #{rhythm(4)}));
  }
}
