@import "rhythm";

.header {
  display: inline-block;
  border-bottom: 1px solid;
  // content: "</style><script>alert(1)</script><style>";
}

.articleTitle {
  margin-bottom: rhythm(0.25);
}

.date {
  color: #bbb;
}

.link {
  text-decoration: none;
  color: inherit;
}
