@import 'rhythm';

.layout {
  margin: 0 auto;
  max-width: 700px;
  padding: rhythm(2);
  padding-top: rhythm(1.5)
}

.title {
  margin-bottom: rhythm(2);
  display: inline-block;
  font-style: normal;
}

.about {
  float: right;
}
